<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Room Name</th>
            <th>Room Capacity</th>
        </tr>
        </thead>
        <tbody>
        <tr th:object="${room}">
            <td th:text="*{id}"></td>
            <td th:text="*{name}"></td>
            <td th:text="*{capacity}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>